#grid{
    display:grid;
    grid-template-columns: auto auto auto;
    width: 500px;
    height: 500px;
}
.tile{
    background-color: gray;
    border: 1px;
    border-style: solid;
}
.filled{
    background-color: black;
}